@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
@import "tailwindcss";

body {
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
